
{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

<div class="app-brand demo">
<a href="#" class="app-brand-link">
<span class="app-brand-text demo menu-text fw-bold ms-2">Admin</span>
</a>

<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
<i class="bx bx-chevron-left d-block d-xl-none align-middle"></i>
</a>
</div>

<div class="menu-divider mt-0"></div>
<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">

<li class="menu-item">
<a href="{% url 'dashboard' %}" class="menu-link">
<i class="menu-icon tf-icons bx bx-home-smile"></i>
<div>Dashboard</div>
</a>
</li>

<li class="menu-item">
<a href="{% url 'citas' %}" class="menu-link">
<i class="menu-icon tf-icons bx bx-calendar"></i>
<div>Citas</div>
</a>
</li>

<li class="menu-item">
<a href="{% url 'usuarios' %}" class="menu-link">
<i class="menu-icon tf-icons bx bx-user"></i>
<div>Usuarios</div>
</a>
</li>

<li class="menu-item">
<a href="{% url 'productos' %}" class="menu-link">
<i class="menu-icon tf-icons bx bx-box"></i>
<div>Productos</div>
</a>
</li>

<li class="menu-item">
<a href="{% url 'comprobantes' %}" class="menu-link">
<i class="menu-icon tf-icons bx bx-receipt"></i>
<div>Comprobantes</div>
</a>
</li>

</ul>

</aside>